# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Daniel Bryant
	email = (email)
[core]
	excludesFile = ~/.gitignore
[color "diff"]
	frag = "magenta bold"
	old = "black #f8cbcb"
	new = "black #cbeecb"
